#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

/* Main container for the project cards */
.project-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* Similar to gap-10 */
    padding: 2.5rem; /* Similar to p-10 */
  }
  
  @media (min-width: 1024px) {
    .project-container {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  /* Each card's container */
  .project-card {
    flex: 1;
    flex-basis: 25%; /* Similar to basis-1/4 */
  }
  
  /* Card styling */
  .card {
    max-width: 32rem; /* Similar to max-w-lg */
    background-color: #ffffff; /* Similar to bg-white */
    border: 1px solid #e5e7eb; /* Similar to border-gray-200 */
    border-radius: 0.5rem; /* Similar to rounded-lg */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Similar to shadow */
    overflow: hidden;
    transition: transform 0.3s ease-in-out; /* For smooth hover effect */
  }
  
  /* Image inside the card */
  .card-img {
    padding: 2.5rem; /* Similar to p-10 */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
    display: block;
  }


  
  /* Card content */
  .card-content {
    padding: 1.25rem; /* Similar to p-5 */
  }
  
  /* Card title */
  .card-title {
    margin-bottom: 0.5rem; /* Similar to mb-2 */
    font-size: 1.5rem; /* Similar to text-2xl */
    font-weight: bold; /* Similar to font-bold */
    color: #1f2937; /* Similar to text-gray-900 */
  }
  
  /* Card subtitle */
  .card-subtitle {
    margin-bottom: 0.75rem; /* Similar to mb-3 */
    font-size: 1rem; /* Similar to font-normal */
    color: #4b5563; /* Similar to text-gray-700 */
  }
  
  /* Card description */
  .card-description {
    font-size: 0.875rem; /* Similar to text-sm */
    margin-bottom: 0.75rem; /* Similar to mb-3 */
    color: #e5e7eb; /* Similar to text-gray-200 */
  }

  .link-button {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-align: left;
    display: inline;
  }
  
  




.workBtn {
    padding: 0.5rem 2.5rem;
    border: none;
    background: white;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 3rem 0;
}

